<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
  <script src="http://localhost:35729/livereload.js"></script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Spring College</title>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet">
  <!-- Template CSS Style link -->
  <!--<link rel="stylesheet" href="assets/css/style-starter.css"> -->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style-starter.css}" />
</head>

<body>
  <!-- header -->
  <div layout:replace="~{fragments/header :: header}"></div>
  <!-- //header -->

  <!-- content -->
  <th:block layout:fragment="content">
    <p>This is filled by the content template.</p>
  </th:block>
  <!-- //content -->

  <!-- footer -->
  <div layout:replace="~{fragments/footer :: footer}"></div>
  <!-- //footer -->

  <!-- js-scripts -->
  <div layout:replace="~{fragments/scripts :: scripts}"></div>
  <!-- //js-scripts -->

</body>

</html>