<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <th:block layout:fragment="content">
      <!-- inner banner -->
      <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
          <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Profile</h4>
            <ul class="breadcrumbs-custom-path">
              <li><a th:href="@{/home}">Home</a></li>
              <li class="active"><i class="fas fa-angle-right"></i>Profile</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- //inner banner -->




      <!-- profile block -->
      <section style="background-color: #eee;">
        <div class="container py-5">

          <ul>
            <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('userProfile.*')}" th:text="${error}" />
          </ul>

          <form th:action="@{/updateProfile}" method="post" class="signin-form" th:object="${userProfile}">

            <div class="row">
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3" th:text="${userProfile.name}">John Smith</h5>
                    <p class="text-muted mb-1">Full Stack Developer</p>
                    <p class="text-muted mb-4" th:text="${userProfile.address1} + ' ' + ${userProfile.city}">Not filled yet</p>
                    <div class="d-flex justify-content-center mb-2">
                      <button type="button" class="btn btn-primary">Follow</button>
                      <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                    </div>
                  </div>
                </div>

              </div>


              <div class="col-lg-8">

                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0 control-label" for="name">Name</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" th:field="*{name}" id="name" class="form-control no-border" style="width:70%;"/>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0 control-label" for="mobileNumber">Mobile Number</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" th:field="*{mobileNumber}" id="mobileNumber" class="form-control no-border" style="width:70%;"/>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0 control-label" for="email">Email</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" th:field="*{email}" id="email" class="form-control no-border" style="width:70%;"/>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0 control-label" for="address1">Address1</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" th:field="*{address1}" id="address1" class="form-control no-border" style="width:70%;"/>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0" for="address2">Address2</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" th:field="*{address2}" id="address2" class="form-control no-border" style="width:70%;"/>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0 control-label" for="city">City</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" th:field="*{city}" id="city" class="form-control no-border" style="width:70%;"/>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0" for="state">State</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" th:field="*{state}" id="state" class="form-control no-border" style="width:70%;"/>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0 control-label" for="zipCode">Zip Code</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" th:field="*{zipCode}" id="zipCode" class="form-control no-border" style="width:70%;"/>
                      </div>
                    </div>


                  </div>
                </div>

                <div class="col-md-8 login-center text-start" style="margin-left:36%;">
                  <button class="btn btn-style btn-style-3 text-left" >Update</button>
                  <a th:href="@{/dash}" class="new-user text-right">
                    <button class="btn btn-style btn-style-3 text-left" th:formaction="@{/dash}">BACK</button></a>
                </div>



              </div>

            </div>
          </form>

        </div>
      </section>


      <!-- //profile block -->



    </th:block>

</body>
</html>